<a href="https://colab.research.google.com/github/rrlcs/Machine-Learning-Examples/blob/master/XNOR_NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import math

In [0]:
X = pd.read_csv("inputs.txt")
theta = pd.read_csv("weights.txt")

In [0]:
m = len(X)

In [0]:
df_input = pd.DataFrame(X)
df_theta = pd.DataFrame(theta)

In [0]:
df_input.insert(0, "bias", [1,1,1,1])

In [146]:
df_input

   bias  x  y
0     1  0  0
1     1  0  1
2     1  1  0
3     1  1  1

In [147]:
df_theta

     a1    a2    a3
0 -3000  1000 -1000
1  2000 -2000  2000
2  2000 -2000  2000

In [0]:
theta1 = df_theta['a1']
theta2 = df_theta['a2']
theta3 = df_theta['a3']

In [0]:
def sigmoid(z):
  return (1/(1+(np.exp(-z))))

In [0]:
theta1 = np.array(theta1)
theta2 = np.array(theta2)
theta3 = np.array(theta3)
df_input = np.array(df_input)

In [0]:
z1 = np.dot(df_input, theta1)
z1 = z1.reshape(4,1)
z1 = z1 / 3000
a1 = sigmoid(z1)
a1 = np.round(a1)

In [0]:
z2 = np.dot(df_input, theta2)
z2 = z2.reshape(4,1)
z2 = z2 / 3000
a2 = sigmoid(z2)
a2 = np.round(a2)

In [0]:
A = np.column_stack(([1,1,1,1],a1,a2))

In [0]:
z3 = np.dot(A, theta3)
z3 = z3.reshape(4,1)
z3 = z3 / 3000
a3 = sigmoid(z3)
a3 = np.round(a3)

In [0]:
z3 = np.dot(df_input, theta3)
z3 = z3.reshape(4,1)
z3 = z3 / 3000
a3 = sigmoid(z3)
a3 = np.round(a3)

In [199]:
a3

array([[1.],
       [0.],
       [0.],
       [1.]])